html,
body {
  height: 100%;
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hidden {
  display: none;
}
